{% if virtualhost_proxy_port is defined and virtualhost_proxy_port -%}
  {%- set proxy_port = ":" ~ virtualhost_proxy_port -%}
{%- else -%}
  {%- set proxy_port = "" -%}
{%- endif -%}
{%- if virtualhost_proxy is string -%}
  {%- set proxy = virtualhost_proxy ~ proxy_port -%}
{%- else -%}
  {%- set proxy = virtualhost_proxy | join(proxy_port ~ " ") ~ proxy_port -%}
{%- endif %}
{% if virtualhost_websocket is defined and virtualhost_websocket %}
    proxy {{ virtualhost_websocket }} {{ proxy }} {
        websocket
    }
{% endif %}
    proxy / {{ proxy }} {
        transparent
{% if virtualhost_proxy_except is string %}
        except {{ virtualhost_proxy_except }}
{% elif virtualhost_proxy_except | count > 0 %}
        except {{ virtualhost_proxy_except | join(' ') }}
{% endif %}
{% if virtualhost_caddy.proxy is defined %}{% for item in virtualhost_caddy.proxy %}
        {{ item }}
{% endfor %}{% endif %}
    }

