https://{{ virtualhost_domain }}:{{ virtualhost_port }} {
    tls chaifeng@chaifeng.com
{% if virtualhost_bind_address %}
    bind {{ virtualhost_bind_address }}
{% endif %}

    root {{ virtualhost_document_root }}
    gzip
{% if virtualhost_caddy.timeouts is defined %}
    timeouts {{ virtualhost_caddy.timeouts }}
{% endif %}

{% include "fragment_caddy_header.conf.j2" %}

    redir {{ virtualhost_redirect_to }}

{% include "fragment_caddy_log.conf.j2" %}

}
