https://{{ virtualhost_domain }}:{{ virtualhost_port }} {
    tls chaifeng@chaifeng.com
{% if virtualhost_bind_address %}
    bind {{ virtualhost_bind_address }}
{% endif %}

    root {{ virtualhost_document_root }}
    gzip
{% if virtualhost_caddy.timeouts is defined %}
    timeouts {{ virtualhost_caddy.timeouts }}
{% endif %}

    header / {
        Strict-Transport-Security "max-age=63072000; preload"
        Server "Microsoft-IIS/8.5"
        X-Powered-By "ASP.NET"
    }

{% if virtualhost_proxy_port is defined and virtualhost_proxy_port -%}
  {%- set proxy_port = ":" ~ virtualhost_proxy_port -%}
{%- else -%}
  {%- set proxy_port = "" -%}
{%- endif -%}
{%- if virtualhost_proxy is string -%}
  {%- set proxy = virtualhost_proxy ~ proxy_port -%}
{%- else -%}
  {%- set proxy = virtualhost_proxy | join(proxy_port ~ " ") ~ proxy_port -%}
{%- endif %}
{% if virtualhost_websocket is defined and virtualhost_websocket %}
    proxy {{ virtualhost_websocket }} {{ proxy }} {
        websocket
    }
{% endif %}
    proxy / {{ proxy }} {
        transparent
{% if virtualhost_proxy_except is string %}
        except {{ virtualhost_proxy_except }}
{% elif virtualhost_proxy_except | count > 0 %}
        except {{ virtualhost_proxy_except | join(' ') }}
{% endif %}
{% if virtualhost_caddy.proxy is defined %}{% for item in virtualhost_caddy.proxy %}
        {{ item }}
{% endfor %}{% endif %}
    }

    log / {{ virtualhost_logdir }}/access.log "{remote} - [{when}] \"{method} {uri}\" \"{>User-Agent}\"" {
        rotate {
            size 20 # Rotate after 100 MB
            age  128  # Keep log files for 14 days
            keep 128  # Keep at most 10 log files
        }
    }
    errors {
        log {{ virtualhost_logdir }}/error.log {
            size 20
            age 128
            keep 32
        }
    }
}
