    log / {{ virtualhost_logdir }}/access.log "{remote} - [{when}] \"{method} {uri}\" \"{>User-Agent}\"" {
        rotate {
            size 20 # Rotate after 100 MB
            age  128  # Keep log files for 14 days
            keep 128  # Keep at most 10 log files
        }
    }
    errors {
        log {{ virtualhost_logdir }}/error.log {
            size 20
            age 128
            keep 32
        }
    }

